{{extend 'layout.html'}}
<h1>About Us</h1>
<br>
    Our service allows you to select dishes to create a menu so that we can bring home cooked meals to your door.    
<br>
    Use this handy application to place your orders and set up and/or edit a schedule so that we can prepare for your order in advanced.
<br><br><br>
</br>

<h3>
    How to use the application
</h3>
<p>
    Use the options above to make/view a menu or schedule. Or you can click "Home" to view your calendar and information on your next meal.
</p>
