{{extend 'layout.html'}}
<script type='text/javascript' src='{{=URL('static', 'js/fullcalendar.min.js')}}'></script>

<style>
    .menus-container{
        width:15%;
        max-height:600px;
        border:solid;
        overflow:auto;
        float:left;
        margin-top:83px;
    }

    .menu-cell{
        margin-left:5px;
        margin-right:5px;
        margin-bottom: 20px;
        margin-top:20px;
        width:auto;
        border:solid;
    }

    .menu-cell:hover{
        background-color: rgb(200,200,200);
    }

    .menu-cell .ui-draggable-dragging{
        color: rgb(50,0,0);
        background-color: rgb(250,200,200);
    }

    .calendar-container{
        width:70%;
        float:left;
    }

    .fc-event-inner:hover{
        background-color: rgb(200,200,200);
    }


</style>

<script>
    $(document).ready(function() {
        //stores the most recent date to send to the server
        var currentDate = null;
        //stores the most recently selected menu name
        var menuName = '';

        var draggableArguments={
            //revert: 'invalid',
            helper:'clone',
            appendTo: '#calendar',
            containment: 'DOM',
            //stop: onDrop
            //zIndex: 1500,
            //addClasses: false
        }

        $('.menu-cell').draggable(draggableArguments);

        $('#calendar').fullCalendar({
            droppable:true,
            drop: onDrop,
            events: {
                url: '{{=URL('default', 'get_json_schedule')}}',
                type: 'POST',
                data: {},
                error: function() {
                    alert('there was an error while fetching events!');
                },
                textColor: 'black' // a non-ajax option
            },
            editable: true,
            eventDrop:moveDate
        });

        //adjust z-index so events don't float above dialog
        $('#calendar').css('position', 'relative')
        $('#calendar').css('z-index', -1)

        $('#dialog-form').dialog({
            autoOpen: false,
            height: 300,
            width: 350,
            modal: true,
            buttons: {
                "Schedule Menu": addDate,
                "Cancel": function(){ $('#dialog-form').dialog("close") }
            }
        });
    });

    function onDrop(date, allDay, jsEvent, ui) {

        $('#dialog-form').dialog("open");
        currentDate = date;
        menuName = $(jsEvent.target).attr("name");
        console.log(ui);
    }

    function addDate() {
        var time = $("#time").val();
        var frequency = $("#frequency").val();

        //set the time of the currentDate to the time entered by the user
        var datetime = currentDate;
        var parts = time.split(":");
        datetime.setHours(parts[0]);
        datetime.setMinutes(parts[1]);
        //datetime.setTime(time);
        //var datetime = new Date(currentDate+" "+time)
        $.ajax({
            type: "POST",
            url: '{{=URL('default', 'set_schedule')}}',
            data:{'datetime':datetime, 'frequency':frequency, 'name':menuName},
            success: function(data, textStatus, jqXHR){
                        $('#calendar').fullCalendar( 'refetchEvents' )
                        $('#dialog-form').dialog("close");
                    },
            dataType: 'json'
        });
    }

    function moveDate(event, dayDelta, minuteDelta, allDay, revertFunc, jsEvent, ui, view) {
        //datetime.setTime(time);
        //var datetime = new Date(currentDate+" "+time)
        console.log(event.start)
        console.log(dayDelta)

        $.ajax({
            type: "POST",
            url: '{{=URL('default', 'move_delivery')}}',
            data:{'dayDelta':dayDelta, 'newDate':event.start, 'name':event.title},
            success: function(data, textStatus, jqXHR){
                        console.log(data);
                        if (data['reload']) {

                            $('#calendar').fullCalendar( 'refetchEvents' )
                        }
                    },
            dataType: 'json'
        });
    }
</script>

<div id=page>
    {{if len(rows) != 0:}}
    <div class="menus-container" id="menus">
        {{for menu in rows:}}
            <div class="menu-cell" name="{{=menu.name}}">
            <h3>{{=menu.name}}</h3>
            <div>
                <p>{{=menu.appetizer.name}}</p>
                <p>{{=menu.entree.name}}</p>
                <p>{{=menu.dessert.name}}</p>
            </div>
            </div>
        {{pass}}
    </div>
    {{else:}}
    <h1>You have not created any menus</h1>
    {{pass}}

    <div class='calendar-container' id='calendar'></div>

    <div id="dialog-form" title="Set Time and Frequency" style="height: auto">
        <form>
        <fieldset>
            <label for="time">I want my food delivered at:</label>
            <input type="time" name="time" id="time" class="text ui-widget-content ui-corner-all" />
            <br><span>Every </span><input type="number" name="frequency" id="frequency" value="" class="text ui-widget-content ui-corner-all" style="width: 40px"/><span> Week(s)</span>
            <br><span>Until </span><input type="date" name="end" id="end" value="" class="text ui-widget-content ui-corner-all" />
    </fieldset>
    </form>
    </div>
</div>
