{{extend 'layout.html'}}
<body>
	<form id="numOfWeeks" name="numOfWeeks" method="post" action="">
		<label> How many weeks of Shopping would you like?<br>
			<select name="weeks" id="weeks">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
			</select>
		</label>
	</form>

	<div class="ingredients"></div>
</body>

<script>
$(document).ready(function(){
$("#weeks").change(function(){

	$.ajax({
		url:"{{=URL('default', 'get_shopping_list')}}",
		data: {'numofweeks':$(this).val().toString()},
		type: 'POST',
		dataType: 'json',
		success: function(ingredients) {

			var ingredientMap = {};
			var ingredientsArray = ingredients['ingredients'];
			for (var i in ingredientsArray) {
				ingredientsArray[i] = JSON.parse(ingredientsArray[i]);
			}
			console.log(ingredientsArray);

			for(var i in ingredientsArray) {
				console.log(ingredientsArray[i]);
				if (ingredientsArray.hasOwnProperty(i)) {
				console.log(i + " -> " + ingredientsArray[i][0]['name']);
				if ($("#"+ingredientsArray[i][0]['name']).length){
					if (ingredientsArray[i][0]['name'] in ingredientMap) {
						if (ingredientsArray[i][0]['measurement'] in ingredientMap[ingredientsArray[i][0]['name']]) {
							var amount = parseInt(ingredientMap[ingredientsArray[i][0]['name']][ingredientsArray[i][0]['measurement']]);
							amount += parseInt(ingredientsArray[i][0]['amount']);
							ingredientMap[ingredientsArray[i][0]['name']][ingredientsArray[i][0]['measurement']] = amount;

						}
						else {
							ingredientMap[ingredientsArray[i][0]['name']][ingredientsArray[i][0]['measurement']] = ingredientsArray[i][0]['amount'];
						}
					}
					continue;
				}
					var measurementMap = {}
					ingredientMap[ingredientsArray[i][0]['name']] = measurementMap;
					measurementMap[ingredientsArray[i][0]['measurement']] = ingredientsArray[i][0]['amount'];
					var $mydiv = document.createElement("div");
					$mydiv.id = ingredientsArray[i][0]['name'];
					$('.ingredients').append($mydiv);

				}
			}


			for(var ingredient in ingredientMap){
				$('#'+ingredient).append(ingredient + " ");
				for (measurement in ingredientMap[ingredient]) {
					$('#'+ingredient).append(ingredientMap[ingredient][measurement] + " " + measurement + " ");
				}
			}
		}
	})
})
});

</script>
