{{extend 'layout.html'}}
<h1>Name: {{=menu.name}}</h1>
<p><b>Appetizer:</b> {{=A(menu.appetizer, _href=URL('view_dish', args=[menu.appetizer,"appetizer"]))}}</p>
<p><b>Entree:</b> {{=A(menu.entree, _href=URL('view_dish', args=[menu.entree,"entree"]))}}</p>
<p><b>Dessert:</b> {{=A(menu.dessert, _href=URL('view_dish', args=[menu.dessert,"dessert"]))}}</p>
<p><b>Serving Number:</b> {{=menu.serving_number}}</p>
<p><b>Delivery time:</b> {{=menu.delivery_time}}</p>
<p><b>Frequency:</b> {{=menu.frequency}}</p>
