{{if response.menu:}}
    {{response.menu = [['Home', False, URL('default', 'index')],
               ['Make A Menu', False, URL('default', 'create_menu')],
               ['Make A Schedule', False, URL('default', 'schedule')],
               ['Make A Dish', False, URL('default', 'make_dish')],
               ['About Us', False, URL('default', 'about_us')]]
      }}
    {{=MENU(response.menu, _class='mobile-menu nav' if is_mobile else 'nav',mobile=is_mobile,li_class='dropdown',ul_class='dropdown-menu')}}
{{pass}}
